.item1 {
  color: #01ff00;
}
.item2 {
  color: #02fe00;
}
.item3 {
  color: #03fd00;
}
.item4 {
  color: #04fc00;
}
.item5 {
  color: #05fb00;
}
.item6 {
  color: #06fa00;
}
.item7 {
  color: #07f900;
}
.item8 {
  color: #08f800;
}
.item9 {
  color: #09f700;
}
.item10 {
  color: #0af600;
}
.item11 {
  color: #0bf500;
}
.item12 {
  color: #0cf400;
}
.item13 {
  color: #0df300;
}
.item14 {
  color: #0ef200;
}
.item15 {
  color: #0ff100;
}
.item16 {
  color: #10f000;
}
.item17 {
  color: #11ef00;
}
.item18 {
  color: #12ee00;
}
.item19 {
  color: #13ed00;
}
.item20 {
  color: #14ec00;
}
.item21 {
  color: #15eb00;
}
.item22 {
  color: #16ea00;
}
.item23 {
  color: #17e900;
}
.item24 {
  color: #18e800;
}
.item25 {
  color: #19e700;
}
.item26 {
  color: #1ae600;
}
.item27 {
  color: #1be500;
}
.item28 {
  color: #1ce400;
}
.item29 {
  color: #1de300;
}
.item30 {
  color: #1ee200;
}
.item31 {
  color: #1fe100;
}
.item32 {
  color: #20e000;
}
.item33 {
  color: #21df00;
}
.item34 {
  color: #22de00;
}
.item35 {
  color: #23dd00;
}
.item36 {
  color: #24dc00;
}
.item37 {
  color: #25db00;
}
.item38 {
  color: #26da00;
}
.item39 {
  color: #27d900;
}
.item40 {
  color: #28d800;
}
.item41 {
  color: #29d700;
}
.item42 {
  color: #2ad600;
}
.item43 {
  color: #2bd500;
}
.item44 {
  color: #2cd400;
}
.item45 {
  color: #2dd300;
}
.item46 {
  color: #2ed200;
}
.item47 {
  color: #2fd100;
}
.item48 {
  color: #30d000;
}
.item49 {
  color: #31cf00;
}
.item50 {
  color: #32ce00;
}
.item51 {
  color: #33cd00;
}
.item52 {
  color: #34cc00;
}
.item53 {
  color: #35cb00;
}
.item54 {
  color: #36ca00;
}
.item55 {
  color: #37c900;
}
.item56 {
  color: #38c800;
}
.item57 {
  color: #39c700;
}
.item58 {
  color: #3ac600;
}
.item59 {
  color: #3bc500;
}
.item60 {
  color: #3cc400;
}
.item61 {
  color: #3dc300;
}
.item62 {
  color: #3ec200;
}
.item63 {
  color: #3fc100;
}
.item64 {
  color: #40c000;
}
.item65 {
  color: #41bf00;
}
.item66 {
  color: #42be00;
}
.item67 {
  color: #43bd00;
}
.item68 {
  color: #44bc00;
}
.item69 {
  color: #45bb00;
}
.item70 {
  color: #46ba00;
}
.item71 {
  color: #47b900;
}
.item72 {
  color: #48b800;
}
.item73 {
  color: #49b700;
}
.item74 {
  color: #4ab600;
}
.item75 {
  color: #4bb500;
}
.item76 {
  color: #4cb400;
}
.item77 {
  color: #4db300;
}
.item78 {
  color: #4eb200;
}
.item79 {
  color: #4fb100;
}
.item80 {
  color: #50b000;
}
.item81 {
  color: #51af00;
}
.item82 {
  color: #52ae00;
}
.item83 {
  color: #53ad00;
}
.item84 {
  color: #54ac00;
}
.item85 {
  color: #55ab00;
}
.item86 {
  color: #56aa00;
}
.item87 {
  color: #57a900;
}
.item88 {
  color: #58a800;
}
.item89 {
  color: #59a700;
}
.item90 {
  color: #5aa600;
}
.item91 {
  color: #5ba500;
}
.item92 {
  color: #5ca400;
}
.item93 {
  color: #5da300;
}
.item94 {
  color: #5ea200;
}
.item95 {
  color: #5fa100;
}
.item96 {
  color: #60a000;
}
.item97 {
  color: #619f00;
}
.item98 {
  color: #629e00;
}
.item99 {
  color: #639d00;
}
.item100 {
  color: #649c00;
}
.item101 {
  color: #659b00;
}
